<!DOCTYPE html>
<html lang="en">

<head>
    <title>Cypher Gather</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mystyle.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet"> 
 
</head>
<body background="{{url_for('static', filename='back.jpg')}}">
    <input type='checkbox' checked id='play'/>
    <h1>Cypher Gather</h1>
    <p id='val'>{{ word }}</p>

    {# a comment #}
</body>
<script type="text/javascript">
  setInterval(function(){
  if(document.getElementById('play').checked){	
      function reqListener () {
        console.log( this.responseText );
        document.getElementById('val').innerText = (this.responseText);
      }

  
      var oReq = new XMLHttpRequest();
  
      // defining behavior for when the response comes back to us
      oReq.addEventListener("load", reqListener);
 
      oReq.open("GET", "/new");
      oReq.send();
  }
  },7000);	
</script>
</html>
